html, body {
    height: 100%;
    margin: 0;
}

p {
  font-family: "Lucida Console", Times, serif;
}

#welcome-text{
    margin-left: 15%;
    margin-right: 15%;
}

#footer-maker{
    min-height: 100%;
    margin-bottom: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: -250px;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}

.indian, .aprilia, .ducati1, .ducati2, .ducati3,  .ktm, .bmw1, .bmw2, .triumph1, .triumph2{
    display: none;
}

.page-space{
    height: 50px;
}

.bike-name{
    font-size: 3vw;
}

.dynamic-title{
    font-size: 4vw;
}

.custom-hr {
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
}

.spec-button{
    width: 80%;
}

.specs{
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
}
