html, body {
    height: 100%;
    margin: 0;
}

#welcome-text{
    margin-left: 15%;
    margin-right: 15%;
}

#footer-maker{
    min-height: 100%;
    margin-bottom: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}
}

.indian, .aprilia, .ducati, .ktm, .bmw1, .bmw2{
    display: none;
}

.page-space{
    height: 50px;
}

p {
  font-family: "Lucida Console", Times, serif;
}
